<!doctype html>
<html>
<head>
  <title>React+Alt Universal Boilerplate</title>
</head>
<body>
  <div id="app"><%- content %></div>
  <script>
    window.__ALT_BOOTSTRAP_PAYLOAD__ = <%- JSON.stringify(__alt_data) %>
    window.__REACT_RESOLVER_PAYLOAD__ = <%- JSON.stringify(__react_resolver_data) %>
  </script>
  <script src="/public/bundle.js"></script>
</body>
</html>
